@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Shizuru&family=Spline+Sans:wght@500&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Pushster&family=Shizuru&family=Spline+Sans:wght@500&family=Vujahday+Script&display=swap');
  
  
  
  h1{
 text-align: center; 
 font-family: Spline Sans;
}
h2{
  text-align: center;
  font-family: Spline Sans
}
h3{
  text-align: center;
  font-family:  Oswald;
}
p{
text-align: center;
  font-family: Oswald;
  
}
h4{
text-align: center;
  font-family: Oswald;
  
}
p1{
text-align: center;
  font-family: Oswald;
  
}
h5{
text-align: center;
font-family: Oswald;
}
p2{
    text-align: center;
    font-family: Oswald;
}
.image{
text-align: center;  
}
h1{
text-align: center;
  font-family: Oswald;
  
}
p3{
  font-family: Oswald;
  text-align: left;
}
h1{
  text-align: center;
  font-family: Oswald;
  
}
p4{
text-align: center;
  font-family: Oswald;
  
}

